<div class="vc_row wpb_row vc_row-fluid">
    <div class="nocontainer">
      <div class="vc_col-sm-12 wpb_column vc_column_container">
        <div class="wpb_wrapper">
          
          <header class="tz-header tz-header1">
            <div class="wrapbox">
              <div class="container">
                <button
                  data-target=".nav-collapse"
                  class="btn-navbar tz_icon_menu"
                  type="button"
                >
                  <i class="fa fa-bars"></i>
                </button>
                <h3 class="tzlogo pull-left">
                  <a routerLink="" title="Everline">
                    <img
                      src="assets/images/Everline_logo.png"
                      alt="Everline"
                    />
                  </a>
                </h3>
                <button class="tz-search pull-right">
                  <i class="fa fa-search"></i>
                </button>
                <nav class="pull-right tznav-menu">
                  <ul
                    id="menu-primary"
                    class="tz-menu nav-collapse themeple_megemenu"
                  >
                    <li
                      id="menu-item-102"
                      class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-has-children"
                    >
                      <a routerLink="">Home</a>
                     
                    </li>
                    <li
                      id="menu-item-397"
                      class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor menu-item-has-children"
                    >
                      <a routerLink="features">Features</a>
                      
                    </li>
                    <li
                      id="menu-item-183"
                      class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children"
                    >
                      <a routerLink ="blog">Blog</a>
                      <ul class="sub-menu non_mega_menu">
                        
                      </ul>
                    </li>
                    <li
                      id="menu-item-279"
                      class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"
                    >
                      <a routerLink="portfolio">Portfolio</a>
                      <ul class="sub-menu non_mega_menu">
                       
                      </ul>
                    </li>
                    <li
                      id="menu-item-373"
                      class="menu-item menu-item-type-taxonomy menu-item-object-tribe_events_cat menu-item-has-children"
                    >
                      <a routerLink="events">Events</a>
                     
                    </li>
                    <li
                      id="menu-item-20"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"
                    >
                      <a routerLink="shop">Shop</a>
                     
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </header>

          <div class="tzform-search">
            <img
              class="tzcontro_search"
              src="assets/images/icon_search_delete.png"
              alt="icon search"
            />
            <form method="get" id="searchform" action="#">
              <label class="icon-search">&nbsp;</label>
              <label for="s" class="assistive-text assistive-tzsearch"
                >Search</label
              >
              <input
                type="text"
                class="field Tzsearchform inputbox search-query"
                name="s"
                id="s"
                placeholder="Search..."
              />
              <input
                type="submit"
                class="submit"
                name="submit"
                id="searchsubmit"
                value="Search"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>